:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 700;
  color: black;
  text-decoration: none;
}
a:hover {
  color: #d2098c;
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  background-color: white;
  background-image: url('https://static6.depositphotos.com/1004199/628/i/950/depositphotos_6280483-stock-photo-miniature-schnauzer-puppies-on-white.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 110%;
}

h1 {
  color: black;
  font-size: 4.5em;
  line-height: 1.1;
  font-family: 'Gorditas', Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
  max-width: 900px;
}

.container {
  margin: 0;
  margin-left: -190px;
  padding: 20px;
  width: 100%;
  /* max-width: 1200px; */
  text-align: left;
}

.players-grid {
  display: flex; /* Use Flexbox */
  flex-wrap: wrap; /* Allow wrapping to the next row */
  gap: 20px; /* Add spacing between cards */
  justify-content: space-between; /* Ensure equal spacing between items */
  max-width: 900px;
}

.player-card {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  margin-bottom: 20px; /* Add spacing between player cards */
  padding: 10px; /* Add some padding inside the card */
  border: 1px solid #ddd; /* Optional: Add a light border around the card */
  border-radius: 10px; /* Optional: Rounded corners */
  background-color: #f9f9f9; /* Optional: Background color for the card */
  max-width: 400px;
}

.player-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 30px 0 30px;
}

.player-details {
  display: flex;
  flex-direction: column;
}

.player-details button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.player-details button:hover {
  background-color: #0056b3;
}

.player-details h4 {
  margin: 0 0 10px 0;
}

.player-details p {
  margin: 0;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
